/* Empty. Add your own CSS if you like */

/*
    contact-detail css
*/
.bubbo-container {
  clear: both;
  border: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -webkit-box-sizing: inherit;
  -moz-box-sizing:  inherit;
  box-sizing:  inherit;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) ;
}

.bubbo {
  padding: 13px;
  width: 60%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:normal;

  color: #575858;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) ;
}

.bubbo-send {
  float: right;
  background: rgba(255, 255, 255, 0.9);
  margin-right: 15px;
}
.avatar-send {
  float: right;
}
.bubbo-receive {
  float: left;
  background: #77f394;
  margin-left: 15px;
}
.avatar-receive {
  float: left;
}