<ion-view view-title="我">
    <ion-content>
        <ion-list>
            <ion-item>
                <button class="button" ng-click="getMyInfo()">getMyInfo</button>
                <div class="row">
                    <div class="col col-25">
                        <img ng-src="{{myAvatar}}" class="avatar" />
                    </div>
                    <div class="col col-33">
                        <div>昵称：</div>
                        <div>TF号:</div>
                    </div>
                </div>
            </ion-item>
            <ion-item>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>